<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .black {
            color: black;
        }
    </style>
</head>

<body>
    <p class="black">We are sorry to inform you that your request send for the donation has been rejected by the
        donator. We value your idea to help someone, Please feel free to check out some other donations.
    <p>
    <ul>
        <li class="black">The donation you send the request - {{name}}</li>
    </ul>
</body>

</html>