<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .black {
            color: black;
        }
    </style>
</head>

<body>
    <p class="black">
        The donation you have sent a request has been deleted, If your request has been accepted or rejected you may have recieved
        a email regarding the status.
    <p>
    <ul>
        <li class="black">Donation Title - {{name}}</li>
    </ul>
</body>

</html>